<%- include components/header.ejs %>
<h2 style="font-size: 20px;">Dear <%- account_name %>,</h2><br>
Somebody tried to log in with your e-mail address to nodeserver.<br>
If this was you, please just ignore this email.
<br><br>
Time: <strong><%- when %></strong><br>
IP Address: <strong><%- client_ip %></strong><br>
<%- include components/footer.ejs %>